.choice {
  width: 700px;
  height: 619px;
  border: 0px;
  border-collapse: collapse;
  position: absolute;
  /*display: none;*/
}
.board {
  width: 700px;
  height: 600px;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
body {
  width: 900px;
  margin: auto;
  background-color: white;
}
.winner {
  font-size: 60px;
}
